{$APP_HOST:http://localhost} {
  encode zstd gzip

  header {
    -Server
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
  }

  reverse_proxy web:3000
}
